:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --succes: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --modal-overlay: #f4f4fd;
  --hero-background: #2e2f42;
  --white-background: #2e2f42;
  --mmodal-background: #ffffff;
  --fs-small: 18px;
  --fs-body: 16px;
  --fs-title: 56px;
  --fs-h2: 36px;
  --fs-medoi: 20px;
  --fs-extra-small: 12px;
  --fw-blackt: 800;
  --fw-boldt: 700;
  --fw-normalt: 400;
  --fw-mediumt: 500;
}

/* Global styles */

*,
*::before,
* ::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  background: #ffffff;
}

.images {
  display: block;
  max-width: 100%;
}
.header {
  border-bottom: 1px solid var(--accent);
  display: flex;
  background: var(--mmodal-background);
  border-bottom: 1px solid var(--accent);
}

.container {
  width: 1158px;
  margin: 0 auto;
  display: flex;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Classes */

.hero-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-navbar {
  display: flex;
  flex-direction: row;
  gap: 76px;
  align-items: center;
}

.hero-navbar-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
}

.hero-navbar-link {
  padding: 24px 0;
}

.logo {
  margin-bottom: 16px;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.link {
  text-decoration: none;
}
.second-word {
  color: #2e2f42;
}
.list-link {
  color: #2e2f42;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}

.list-link:hover {
  color: #404bbf;
}

.list-link:focus {
  color: #404bbf;
}
.contact {
  font-style: normal;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}

.section-one {
  display: flex;
  height: 600px;
  padding: 188px 472px 188px 472px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-one-title {
  display: flex;
  align-items: center;
  max-width: 496px;
}

.second-section {
  display: flex;
}

.second-section-list {
  display: flex;
  gap: 24px;
}

.first-second-section-list {
  text-decoration: none;
  width: 100%;
  min-width: 264px;
}

.first-three-section-list {
  text-decoration: none;
  width: calc(100% - 48px) / 3;
}

.portfolio-section-card {
  width: calc(100% - 48px) / 3;
  text-decoration: none;
}

.team-member {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  width: calc(100% - 72px) / 4;
}

.third-section {
  display: flex;
  flex-direction: column;
}

.third-section-list {
  display: flex;
  gap: 24px;
}

.four-section {
  display: flex;
  flex-direction: column;
  padding: 120px 156px 120px 156px;
  align-items: center;
}

.four-section-list {
  display: flex;
  gap: 24px;
}

.footer-section {
  height: 312px;
  display: flex;
  flex-direction: column;
}

.footer-section-about {
  display: flex;
}

.portfolio-section-header {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-section-one {
  display: flex;
  flex-direction: column;
}

.portfolio-section-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-section-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-section-link {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.primary-section {
  background-color: #2e2f42;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.primary-title {
  letter-spacing: 0.02em;
  font-size: 56px;
  line-height: 1.07em;
  color: #ffffff;
}

.section-two {
  padding: 120px 0;
}

.section-three {
  padding-bottom: 120px;
}

.hero-button {
  align-items: center;
  border: none;
  border-radius: 4px;
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  word-wrap: break-word;
  background: #4d5ae5;
  color: #fff;
  cursor: pointer;
}
.hero-button:hover {
  background-color: #404bbf;
}
.hero-button:focus {
  background-color: #404bbf;
}

.list {
  list-style: none;
  text-align: center;
  padding: 0;
}

.section-title {
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11em;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-section-lists {
  padding-top: 32px;
  padding-bottom: 32px;
}

.sub-title {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.sub-text {
  font-size: 16px;
  line-height: 1.5em;
  color: #434455;
  letter-spacing: 0.02em;
  text-align: center;
}
.footer-content {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  line-height: 1.5em;
  color: #f4f4fd;
}
.footer-content .span {
  color: #f4f4fd;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5em;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
  padding: 12px 24px;
  border: 1px solid var(--accent);
  border-radius: 4px;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: 1px solid transparent;
}

.button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-text {
  color: #434455;
}
